body {
  padding: 0;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

.header {
  display: flex;
}

.header__logo {
  height: 4em;
  margin: 1em;
}

.header__title {
  color: #444;
  text-align: center;
}

.booklist {
  padding: 0;
}

.booklist li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border: 1px solid #880e4f;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880e4f;
}

.addBook {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
}

.addBook__field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.addBook__field label {
  text-align: right;
  padding: 6px;
}

.addBook__field select,
.addBook__field input {
  margin: 4px;
  padding: 6px;
}

button {
  color: white;
  font-size: 2em;
  background-color: #ad1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.bookDetails {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  color: white;
}
